SERVER_KEY_LOCATION=/etc/security/serverKeys
CLIENT_KEY_LOCATION=/etc/security/clientKeys
HOST_NAME=$HOSTNAME

KEYSTORE_FILE=$SERVER_KEY_LOCATION/keystore.jks
TRUSTSTORE_FILE=$SERVER_KEY_LOCATION/truststore.jks
CERTIFICATE_NAME=$SERVER_KEY_LOCATION/$HOST_NAME.cert
ALL_JKS=$CLIENT_KEY_LOCATION/allkeys.jks

YARN_USER=yarn

KEYS=keys

# modify
SERVER_KEYPASS_PASSWORD=test1234
SERVER_STOREPASS_PASSWORD=$SERVER_KEYPASS_PASSWORD
SERVER_TRUSTSTORE_PASSWORD=$SERVER_KEYPASS_PASSWORD

ORGDATA="OU=hw,O=hw,L=paloalto,ST=ca,C=us"
