SERVER_KEY_LOCATION=/etc/security/serverKeys
CLIENT_KEY_LOCATION=/etc/security/clientKeys
HOST_NAME=$HOSTNAME

KEYSTORE_FILE=$SERVER_KEY_LOCATION/keystore.jks
TRUSTSTORE_FILE=$SERVER_KEY_LOCATION/truststore.jks
CERTIFICATE_NAME=$SERVER_KEY_LOCATION/$HOST_NAME.cert
ALL_JKS=$CLIENT_KEY_LOCATION/allkeys.jks

YARN_USER=yarn

KEYS=keys
